
input[type="file"] {
    /* color: transparent; */
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Chọn tài liệu';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    color: #005999;
    padding: 0.5rem 0.625rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

input:active,
input:focus,
select:active,
select:focus,
button:focus,
button:active {
    outline: 0;
}

input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

input:not([type="file"]) {
    height: 2.5rem;
    border-radius: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid #cccccc 0.06rem;
    width: -webkit-fill-available;
}

.form-group,
.form-group-inline {
    margin: 24px auto;
}

.form-group-inline {
    display: inline-block;
}

.form-group label,
.form-group-inline label {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
}

select {
    position: relative;
    height: 2.5rem;
    line-height: 3;
    border-radius: 0.2rem;
    border: solid #cccccc 0.06rem;
    background: transparent;
    padding: 0 .5rem;
}