:root {
  --white: #ffffff;
  --dark-gray: #333333;
  --green: #35CE97;
  --dark-light-grey: #4F4F4F;
  --light-grey: #828282;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 70px; 
}

h1 {
  margin-top: 64px;
  text-transform: capitalize;
  color: var(--dark-light-gray);
}

a[role=button]:hover {
  cursor: pointer;
}

.text-grey {
  color: var(--light-grey)
}

.text-125 {
  font-size: 1.25rem;
}

.text-115 {
  font-size: 1.15rem;
}

p.text-115 {
  margin-top: 4px;
  color: #828282;
  line-height: 17px;
}

body,
html {
    margin: 0;
}

nav.navbar {
  height: 70px;
  padding: 0 80px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

.nav-brand img {
    height: 100%;
}

.nav-menu .nav-item a {
  text-decoration: none;
  color: var(--dark-gray);
}

.middle-menu .nav-item a {
    margin: 0 8px;
    padding: 8px;
    position: relative;
    display: inline-block;
}

.middle-menu .nav-item.active a::after {
    content: '';
    width: 100%;
    display: block;
    border-top: 1.5px solid var(--green);
    border-bottom: 1.5px solid var(--green);
    position: absolute;
    left: 0;
    bottom: -3px; 
}

.right-menu .nav-item a {
    margin: 0px 7px;
    position: relative;
    padding: 8px 16px;
}

#sign-up {
    color: var(--dark-light-grey);
}

#sign-in {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 88px;
}

#search {
  margin: 0 6px;
}

upload.upload {
  margin: 0;
}

.box {
  padding: 16px;
  background: var(--white);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin-bottom: 40px; 
}


.emotion img {
  background: var(--white);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 100%;
  padding: 6px;
}

.emotion span {
  margin: 6px;
}

.emotion p {
  margin: 0;  
  color: var(--dark-light-grey);
  margin-bottom: 20px;
}

.text-blue {
  color: #51A4E0;
}

.text-purple {
  color: #A36ABE;
}

.text-red {
  color: #EB5757;
}

.text-orange {
  color: #F2994A;
}

.text-green {
  color: #4ED4A4;
}

.upload-form {
  padding: 40px 60px;
  margin-bottom: 0px;
}

.upload-form p {
  margin: 0;
  margin-bottom: 11px;
  color: var(--dark-light-grey)
}

.required p:first-child::after {
  content: "*";
  color: red;
}

.required p:nth-child(3) {
  color: #EB5757;
}

input,
select,
textarea {
  height: 54px;
  width: -webkit-fill-available;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-weight: 500;
  line-height: 130%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 16px;
}

textarea {
  resize: none;
  height: 107px;
}

textarea::placeholder ,input::placeholder {
  color: #BDBDBD;
  line-height: 130%;
  font-weight: 500;
}


.form-group {
  margin-bottom: 24px;
}

.file-select {
  position: relative;
  padding: 8px;
}

.file-select::before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-image: url('/assets/add.png');
  background-position: center;
  background-repeat: no-repeat;
  border: 2px dashed #BDBDBD;
  box-sizing: border-box;
}

.file-select input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  padding: 0;
}

.file-select .preview {
  display: none;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute;
  top: 8px;
  left: 8px;
}

input[type="radio"] {
  height: auto;
}

select {
  position: relative;
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background-image: url("/assets/arrow.png");
  background-position: right .7em top 50%, 0 0;
  background-repeat: no-repeat;

}

select::after {
  content: "icon";
  background: url('/assets/arrow.png');
  display: block;
  width: 3px;
  height: 3px;
}

.button {
  background: var(--green);
  border: 1px solid var(--green);
  box-sizing: border-box;
  border-radius: 88px;
  width: -webkit-fill-available;
  padding: 16px;
  font-size: 1.25rem;
  color: #F2F2F2;
  text-transform: capitalize;
}

.submit {
  padding: 40px 60px;
}

ul {
  padding: 0;
  list-style: none;
}

.footer{
  background: var(--dark-light-grey);
  padding: 24px 80px 16px;
  color: #BDBDBD;
}

.copyright{
  padding-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: #BDBDBD;
}

.media li {
  margin-left: 35px;
}

p .error-message {
  font-weight: 500;
  line-height: 130%;
  color:#EB5757;
}

.clock-box {
  padding: 0 12px;
  position: relative;
  margin-bottom: 70px;
}


.clock-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
}

.clock-box span {
  color: var(--white);
  line-height: 22px;
  text-align: center;
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
  font-size: 1.125rem;
}

.app {
  margin: 40px 80px;
  display: block;
}

.filter p {
  margin: 0;
  margin-bottom: 24px;
  color: var(--light-grey);
  line-height: 24px;
  font-size: 1.25rem;
}

.filter ul {
  list-style: none;
}

.filter a {
  text-decoration: none;
  color: #BDBDBD;
  line-height: 130%;
}

.filter .active a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.filter li {
  padding: 7px;
  position: relative;
}

.filter li > span,
.products-title span {
  background: #E0E0E0;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  display: inline-block;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translate(0, -50%);
}

.filter .active span,
.products-title span {
  background: #35CE97;
  width: 4px;
  height: 19px;
  border-radius: 0;
}

.products-title {
  
}

.products-title span {
  height: 24px;
}

.products-title p {
  margin: 0;
  margin-bottom: 24px;
  position: relative;
  padding-left: 8px;
  margin-bottom: 24px;
  color: var(--light-grey);
  line-height: 24px;
  font-size: 1.25rem;
}

.product-item {
  margin-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
}

.product-item .product-image {
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  position: relative;
  background: #F2F2F2;
  border-radius: 8px;
}

.product-item .product-image > img {
  max-width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-item .product-image .product-emotion {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24); */
  border-radius: 100%;
  transform: none;
  background: transparent;
}

.product-item .product-name {
  font-weight: 500;
  font-size: 1rem;
  color: #333333;
  margin: 8px 0 4px;
}

.product-item .product-price {
  color: #35CE97;
  font-size: 20px;
  margin-bottom: 8px;
  display: block;
}

.product-item .product-owner {
  color: #828282;
  font-size: 14px;
}

.product-paginate {
  padding: 0 16px;
}

.product-paginate button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 0 none;
  background: #35CE97;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.product-paginate button:hover {
  cursor: pointer;
}

.product-paginate button:focus,
.product-paginate button:active {
  outline: 0;
}

.product-paginate button.disabled {
  background: #E0E0E0;
  pointer-events: none;
}

.product-paginate button.disabled:hover {
  cursor: not-allowed;
}

.product-paginate .page-number {
  color: #828282;
  font-weight: 500;
  margin: 0 16px;
}


.detail-images {
  padding-top: 70px;
  padding-left: 140px;
}

.detail-images img {
  max-width: 100%;
}

.big-img {
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 12px;
}


.small-img {
  overflow: hidden;
  max-width: 100%;
}

.small-img img {
  padding: 12px;
}



  